PORT=4000
DB_SERVER=localhost
DB_USER=nijat
DB_PASSWORD=User123!
DB_NAME=Portal
LDAP_URL=ldaps://172.22.60.1:636
LDAP_BIND_DN=CN=office ldap,CN=Users,DC=mnbq,DC=local
LDAP_BIND_PASSWORD=KqTfXk3rvbLj6PXmIgY9
LDAP_SEARCH_BASE=ou=545,ou=Departments-USERS,dc=mnbq,dc=local
JWT_SECRET=supersecretjwtkey
